* {
  box-sizing: border-box;
}
.header {
  padding: 0 60px;
  &__main {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__title {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        .icon {
          width: 140px;
          display: block;
        }
      }
      &__search {
        margin-left: auto;
        width: 100%;
        &__form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
            font-size: 16px
          }
          &__submit {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
          }
          &__submit:hover {
            opacity: 0.8;
          }
        }
      }
    }
    &__navi {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__left {
        list-style: none;
        display: flex;
        padding-left: 0;
        .choice {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          padding-right: 30px;
        }
        .choice:hover {
          color: #ffb340;
        }
      }
      &__right {
        list-style: none;
        margin-left: auto;
        display: flex;
        a {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          text-decoration: none;
        }
      }
    }
  }
}