* {
  box-sizing: border-box;
}
.menu {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px 20px;
  ul {
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    list-style: none;
    li {
      padding: 0 10px 0 0;
      float: left;
      a {
        text-decoration: none;
        color: #333;
      }
      a:hover {
        color: #3CCACE;
      }
    }
  }
}
.main {
  background: #f8f8f8;
  &__sub {
    padding: 40px;
    margin: 0 auto;
    .content {
      width: 700px;
      margin: 0 auto;
      &__form {
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name {
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body {
          margin: 16px 0 0;
          ul {
            display: flex;
            position: relative;
            li {
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              .photo {
                object-fit: cover;
                height: 346px;
                width: 100%;
              }
              ul {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                list-style: none;
                li {
                  width: 25%;
                  margin: 0 10px 0 0;
                  .gallery {
                    object-fit: cover;
                    height: 87px;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
        &__price {
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          .price {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          .tax {
            font-size: 16px;
          }
        }
        &__text {
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table {
          margin-bottom: 20px;
          table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tr {
              th {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td {
                width: calc(100% - 20%);
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
                a {
                  text-decoration: none;
                  color: #3CCACE;
                }
              }
            }
          }
        }
        &__option {
          display: flex;
          justify-content: space-between;
          .option {
            margin: 10px 0 0;
            display: flex;
            .like {
              cursor: pointer; 
              display: flex;
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
              &__icon {
                margin: auto;
              }
            }
            .like:hover {
              opacity: 0.5;
            }
            .report {
              font-size: 14px;
              padding: 6px 10px;
              display: inline-block;
              border-radius: 4px;
              color: #333;
              border: 1px solid #333;
              text-decoration: none;
            }
            .report:hover {
              opacity: 0.5;
            }
          }
        }
      }
      &__comment {
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        .textarea {
          width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          outline: none;
          padding: 13px 16px;
          resize: vertical;
        }
        &__note {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        &__btn {
          margin: 20px auto 0;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
      }
      .link {
        display: flex;
        justify-content: space-between;
        &__left {
          .left__icon {
            color: #3CCACE;
            text-decoration: none;
          }
        }
        &__right {
          color: #3CCACE;
          text-decoration: none;
          a {
            color: #3CCACE;
            text-decoration: none;
          }
          .right__icon {
            color: #3CCACE;
            text-decoration: none;
          }
        }
      }
      .relate {
        a {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}
//商品出品ボタン
.btn {
  position: fixed;
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    .btn__camera {
      vertical-align: bottom;
    }
  }
}
//フッター
.download {
  background-image: url(bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .icon {
        width: 180px;
      }
      .icon:first-child {
        margin-right: 10px;
      }
    }
  }
}
.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding-left: 0;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .icon {
      width: 100%;
      vertical-align: bottom
    }
  }
  p {
    font-size: 14px;
    margin: 0;
  }
}